{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-process-exit": "off"
  },
  "overrides": [
    {
      "files": ["tests/**/*.js"],
      "env": {
        "jest": true,
        "jasmine": true
      }
    }
  ]
}
